<%- include('partials/header.ejs') %>

<h1>Hi <%= name %></h1>
<p>
    Here is your message : <br>
    <%= text %> <br>
    This is your contact : <%= email %>
</p>

<%- include('partials/footer.ejs') %>